img {
  width: 50%;
  border: solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: block;
  width: 50%;
  padding: 4x;
  background-color: rgb(237, 162, 162);
  margin-left: auto;
  margin-right: auto;
  border: dotted rgb(246, 243, 75);
  border-width: 8px;
  text-align: center;
}

#dogs {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#cats {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  display: block;
  background-color: aquamarine;
}

#main-image {
  float: center;
  width: 70%;
}